$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Overpass", sans-serif;
	font-size: 1.5rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $Very-Dark-Blue;
}
.card {
	width: 340px;
	margin: 0 15px;
	background-color: $Dark-Blue;
	border-radius: 15px;
	padding: 1.5em;
}

.circle {
	width: 45px;
	height: 45px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	padding: 0.7em;
	font-size: 1em;
	background-color: hsl(213, 18%, 22%);
}
.title {
	color: $White;
	font-size: 2.5rem;
	padding: 0.5em 0;
	font-weight: 700;
}
.info {
	padding-bottom: 2em;
	color: $Medium-Grey;
}

button {
	border: none;
}

.rating-card {
	display: block;

	&__star {
		img {
			padding: 0.2em;
		}
	}

	// &__text {
	// 	&-title {
	// 	}
	// 	&-info {
	// 	}
	// }

	&__rate {
		display: flex;
		justify-content: space-between;

		&-button {
			font-size: 1.3rem;
			color: $Light-Grey;
			font-weight: 700;

			&:hover {
				background-color: $Orange;
				color: $White;
			}
		}
	}
}

.button {
	width: 100%;
	background-color: $Orange;
	color: $White;
	text-transform: uppercase;
	padding: 1em;
	border-radius: 20px;
	margin-top: 2em;
	letter-spacing: 0.2em;

	&:hover {
		background-color: $White;
		color: $Orange;
	}
}

.thank-you {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;

    &__img{
        padding: 0.8em 0 1.5em 0;
    }

	&__selection {
		color: $Orange;
		padding: 0.5em 0.6em;
        vertical-align: middle;
        font-size: 1.6rem;
		background-color: hsl(213, 18%, 22%);
        border-radius: 20px;
	}

    &__text{
        &-title{
            margin-top: 0.8em;
        }
        &-info{
            text-align: center;
        }
    }
}

.selected{
    background-color: $Orange;
    color:$White;
}
